body{
    color: white;
    background: lightblue;
}

.heading{
    width: 80%;
    font-size: 22px;
}

#camera{
    border: 2px double rgb(0, 0, 0);
    width: 350px;
    height: 350px;
}

.name_of_objects{
    color: red;
}